+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="ゆるゆる山歩き：そうだ、山に行こう！" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		About us <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		wiki <i class="fab fa-github ml-2 "></i>
	</a>
		<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		blog <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">『どんなことでも、「これはダメだ」とあきらめるのではなく、「ではどうするか」と考えることに大きな意味がある。』

野口健（日本の登山家）</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
『一歩を踏み出せるなら、もう一歩も踏み出せる』<br>
『山を低くすることはできない。だから、自分を高めなければならない。』<br>

 <font size="4" color="#ffffff">トッド・スキナー（アメリカのロッククライマー）</font><br><br>


『あきらめないこと。どんな事態に直面してもあきらめないこと。結局、私のしたことは、それだけのことだったのかもしれない』

 <font size="4" color="#ffffff">植村直己（日本の登山家）</font>

{{% /blocks/lead %}}




{{< blocks/section >}}
<div class="col">
<h1 class="text-center">coming soon</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
The Goldydocs UI now shows chair size metrics by default.

Please follow this space for updates!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/yuruyamawk" %}}
We do a [Pull Request](https://github.com/google/docsy-example/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/yuruyamawk" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


